
.App {
  min-height: 100vh;
  text-align: center;
}
.AppContainer{
  min-height: 63vh;
}

.App-Unauth{
  background-image: url("./img/robo2.jpg");
  background-repeat: no-repeat;
}

.App-Auth{
  background-image: url("./img/robo1.jpg");
  background-repeat: no-repeat;
  background-position-x: right;
}

.Uni-logo{
  height: 20vmin;
}

.welcome-msg {
  text-align: left;
  padding: 3% 10%;
}

.App-Title{
  font-weight: 600;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 4vmin;
  padding: 2vmin 0 0 0;
}
.App-Subtitle{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 2vmin);
  font-size: 16px;
  padding: 0;
}

.Header{
  border-style: solid;
  border-width: 0 0 5px;
  padding: 25px 0;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
button{
  background-color: red;
}
.App-link {
  color: #09d3ac;
}